PORT=4000
NODE_ENV=development
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=1234
DB_NAME=centro_psicopedagogico
SESSION_SECRET=cambiar-esta-clave
FRONTEND_ORIGIN=http://localhost:5173
ADMIN_CORREO=admin@centro.com
ADMIN_PASSWORD=Admin1234
ADMIN_NOMBRE=Admin
ADMIN_APELLIDO=General
